name: Build Bisq 2

on:
  push:
  pull_request:
    types: [ opened, reopened, synchronize, closed ]
    branches: [ main ]

permissions:
  contents: read

jobs:
  build-desktop:
    name: Build Desktop App
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            name: Linux x64
            arch: x64
            type: linux
          - os: ubuntu-24.04-arm
            name: Linux ARM64
            arch: arm64
            type: linux
          - os: macOS-latest
            name: macOS
            arch: x64
            type: macos
          - os: windows-latest
            name: Windows x64
            arch: x64
            type: windows
    uses: ./.github/workflows/build_desktop_app.yml
    with:
      os: ${{ matrix.os }}
      name: ${{ matrix.name }}
      arch: ${{ matrix.arch }}
      type: ${{ matrix.type }}
      upload-artifacts: true

  build_modules:
    name: Build Individual Modules
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            module: Bisq
            build-root-dir: .
          - os: ubuntu-latest
            module: apps
            build-root-dir: apps
          - os: ubuntu-latest
            module: network
            build-root-dir: network
          - os: ubuntu-latest
            module: tor
            build-root-dir: network/tor
    uses: ./.github/workflows/build_bisq_module.yml
    with:
      os: ${{ matrix.os }}
      name: ${{ matrix.module }}
      build-root-dir: ${{ matrix.build-root-dir }}
